* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.tudo {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.principal{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 730px;
    height: 280px;
}

.Imagem-principal{
    width: 285px;
    height: 280px;
    border-radius: 10px 0px 0px 10px;
}

.textos {
    padding: 32px 37.5px;
}

.textos #h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: hsl(217, 19%, 35%);
    margin-bottom: 12px;
    margin-top: 5px;
}

.textos p {

    margin-bottom: 20px;
}

.avatar {
    display: flex;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar h1{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}

.avatar #icon{
    margin-left: 140px;

    background-color: hsl(210, 46%, 95%);
    border: 7px solid hsl(210, 46%, 95%);
    border-radius: 50%;

    width: 28px;
    height: 25px;
}

p{
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}